h1,
p {
  font-family: Lato;
}

.table-container {
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
}

.pagination span {
  margin: 0 5px;
}
