@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
p {
  font-family: Lato;
}

.table-container {
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
}

.pagination span {
  margin: 0 5px;
}

@layer components {
  .toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #68d391;
  }
  .toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #68d391;
  }
}
